@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.navbar-style{
    background-color: #f8f9fa;
    box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}


li,
p,
a,label {
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

#logo{
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fd5c63;
    padding: 0;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
} 
.hero-text h1{ 
    text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    color: #2f2f2f; 
    letter-spacing: 2px;
    font-size: 5.5rem;
}
 
.hero-text h1:nth-child(2){
    font-weight: bold;
    color: #5222d0;
}
.hero-text p{
    font-size: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    letter-spacing: 0.2rem;  
    color: #777676;
    text-transform: capitalize;
}


.navbar-light .navbar-nav .nav-link{
    font-size: 1.9rem;
    padding-left: 1rem;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 0.1rem; 
}

.btn-style {
    padding: 12px 25px;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #ec615b;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.about-style{
    margin: 10rem 0;
}

.about-style .main-heading,
.service-style .main-heading,
.contact-style .main-heading
{
    font-size: 5rem;
    color: #fd5c63;
    letter-spacing: 1px;
    font-weight: bold; 
}


.about-style .sub-heading,
.service-style .sub-heading,
.contact-style .sub-heading {

    font-size: 3rem;
    color: #333;
    font-weight: 500; 
}

/* service */

.service-style{
    margin-top: 10rem;
}
.box{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 30px 15px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
  }

.our-services .icon {
    transform: translateY(-50%); 
}

.our-services .icon img{
    width: 95px;
}

.our-services h4{
    font-weight: bold;
    font-size: 3rem;
}
.our-services:hover h4,
.our-services:hover p {
  color: #fff;
}

.settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
}

.speedometer:hover{
    cursor: pointer;
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
}

.compliant:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}

.shield:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #974eff 0%, #5a57fb 50%);
}
  
.database:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
}

.contact-style{
    margin-top: 10rem 0;
}

label {
    margin-top: 2rem;
    margin-bottom: 0;
}

.form-control {
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.contact-us{
    color: #fd5c63;
}
.form-btn{
    margin-top: 1rem;
}
.form-btn button{
    padding: 7px 25px;
}



@media(max-width:768px){
    #logo{
        font-size: 2.5rem;
    }
    .hero-text button{
        margin: 0 auto;
    }
}