   <div class="container-fluid about-style" id="about-id">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">ABOUT US</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12"> 
                        <figure> 
                            <img src="/img/about.svg" alt="" /> 
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-center flex-column  align-items-start hero-text">
                        <h1>WE ARE THE TEAM OF PROFESSONAL DEVELOPER</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni corporis quasi ipsam neque nemo a veniam fugiat saepe quis? Impedit, aliquid numquam accusantium odio nam beatae quod ullam molestias perspiciatis.</p>
                        <button class="btn-style btn-primary ">READ MORE</button>
                    </div>
                </div>
            </div> 
              
        </div>
    </div>