<div class="container-fluid service-style" id="service-id">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">OUR SERVICES</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="img/settings.png" alt="setting" />
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam, inventore optio
                                architecto laudantium cupiditate quaerat officia sequi culpa accusantium. Architecto,
                                recusandae voluptate aliquam hic laborum odio rerum alias ex!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedometer">
                            <div class="icon">
                                <img src="img/speedometer.png" alt="Speedup" />
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam, inventore optio
                                architecto laudantium cupiditate quaerat officia sequi culpa accusantium. Architecto,
                                recusandae voluptate aliquam hic laborum odio rerum alias ex!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services compliant">
                            <div class="icon">
                                <img src="img/compliant.png" alt="setting" />
                            </div>
                            <h4>Privacy</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam, inventore optio
                                architecto laudantium cupiditate quaerat officia sequi culpa accusantium. Architecto,
                                recusandae voluptate aliquam hic laborum odio rerum alias ex!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="img/settings.png" alt="setting" />
                            </div>
                            <h4>Backup</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam, inventore optio
                                architecto laudantium cupiditate quaerat officia sequi culpa accusantium. Architecto,
                                recusandae voluptate aliquam hic laborum odio rerum alias ex!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services shield">
                            <div class="icon">
                                <img src="img/shield.png" alt="setting" />
                            </div>
                            <h4>SSL Secure</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam, inventore optio
                                architecto laudantium cupiditate quaerat officia sequi culpa accusantium. Architecto,
                                recusandae voluptate aliquam hic laborum odio rerum alias ex!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="img/database.png" alt="setting" />
                            </div>
                            <h4>Databases</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam, inventore optio
                                architecto laudantium cupiditate quaerat officia sequi culpa accusantium. Architecto,
                                recusandae voluptate aliquam hic laborum odio rerum alias ex!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>